.card {
    --transition-duration: 300ms;
    --transition-delay: 200ms;
    
}

.card:hover {
    padding-top: 0;
    filter: drop-shadow(5px 5px 10px white) drop-shadow(5px 5px 20px white);
}

.card:hover svg {
    transition: all var(--transition-duration) ease-in-out;
    animation: zoom-in var(--transition-duration) ease-in-out both;
}

.card:hover span {
    visibility: visible;
    width: max-content;
}

@keyframes zoom-in {
    to {
        transform: translateY(-20%) scale(130%);
    }
}